In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('train.csv')
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
data.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [6]:
numerical_cols=data.select_dtypes(exclude='object')
categorical_cols=data.select_dtypes(include='object')
numerical_cols

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  Transported
0     39.0          0.0        0.0           0.0     0.0     0.0        False
1     24.0        109.0        9.0          25.0   549.0    44.0         True
2     58.0         43.0     3576.0           0.0  6715.0    49.0        False
3     33.0          0.0     1283.0         371.0  3329.0   193.0        False
4     16.0        303.0       70.0         151.0   565.0     2.0         True
...    ...          ...        ...           ...     ...     ...          ...
8688  41.0          0.0     6819.0           0.0  1643.0    74.0        False
8689  18.0          0.0        0.0           0.0     0.0     0.0        False
8690  26.0          0.0        0.0        1872.0     1.0     0.0         True
8691  32.0          0.0     1049.0           0.0   353.0  3235.0        False
8692  44.0        126.0     4688.0           0.0     0.0    12.0         True

[8693 rows x 7 columns]